<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>{{project?.name}}</h2>
            <ol>
                <li><a routerLink="/">Home</a></li>
                <li>{{project?.name}} Details</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper-container">
                    <div class="swiper-wrapper align-items-center">
                        <!-- TODO: Arreglar Swiper -->
                        <swiper [slidesPerView]="1" [spaceBetween]="10">
                            <ng-template swiperSlide *ngFor="let screenshot of project?.gallery">
                                <img src="{{screenshot.url}}" height="600" alt="{{screenshot.name}}">
                            </ng-template>
                        </swiper>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="portfolio-info">
                    <h3>Project information</h3>
                    <ul>
                        <li><strong>Category</strong>: {{project?.subCategory}}</li>
                        <li><strong>Language</strong>: {{project?.language}}</li>
                        <li><strong>Project date</strong>: {{project?.date}}</li>
                    </ul>
                </div>
                <div class="portfolio-description">
                    <h2>Descripcion del Proyecto</h2>
                    <p>
                        {{project?.description}}
                    </p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Details Section -->