<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <h1>{{sProfile.profile?.name}}</h1>
    <p>Soy Desarrollador</p>
    <!-- <span class="typed" data-typed-items="Programador"></span> -->
  </div>
</section><!-- End Hero -->

<!-- End #main -->
<!-- <a routerLink="/" class="back-to-top d-flex align-items-center justify-content-center"><i
  class="bi bi-arrow-up-short"></i></a> -->